input {
  margin-bottom: 25px;
}

.task-three-wrap {
  height: 100px;
  width: 100px;
  background: green;
  position: relative;
  /* margin: 0 auto; */
  margin-bottom: 25px;
}
.task-three-wrap__item {
  height: 50px;
  width: 50px;
  background: #fae311;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-five {
  width: 100px;
  height: 100px;
  background-color: rgb(228, 28, 28); 
  animation-iteration-count: infinite;
}

.task-four-list__list-wrap {
  margin-bottom: 25px;
}
.task-four-list__list-title {
  /* text-decoration: underline; */
  margin-left: 20px;
  font-size: 20px;
}
.task-four-list__list-item {
  font-size: 14px;
  margin-left: 30px;
  list-style-type: circle;
}
